.services_form {
    height: 100%;
    width: 100%;

    h1 {
        font-size: 56px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

.services_cards_container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.service_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 10px 5px;

    cursor: pointer;
    margin: 0;
    width: 20%;
    transition-duration: 0.2s;

    & p {
        color: white;
        font-size: 14px;
    }

    &:hover {
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.4);
    }
}

.service_card_selected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
    padding: 10px 5px;

    cursor: pointer;
    margin: 0;
    width: 20%;
    transition-duration: 0.2s;

    & p {
        color: white;
        font-size: 14px;
    }

}

.service_icon {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.selected_service_container {
    h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    padding-top: 10px;
}