.admin_barbers_table {
    width: 100%;
    height: 85%;
}

.barbers_table_container {
    width: 90%;
    min-height: 20%;
    max-height: 85%;
    overflow: auto;
    margin: 0 auto;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #686868;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        height: 50px;
        background: #c7c7c7;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #eeeeee;
    }
}

.barbers_table {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;

    thead {
        tr {
            &:hover {
                background: none;
            }
        }
    }

    th {
        font-size: 24px;
        font-weight: 500;
        padding: 7px;
        text-transform: uppercase;
    }
}

.barber_miniphoto {
    width: 100px;
    height: 100px;
}

.rank_gold {
    color: #FFD700;
    text-transform: capitalize;
}

.rank_silver {
    color: #C0C0C0;
    text-transform: capitalize;
}

.rank_platinum {
    color: #E5E4E2;
    text-transform: capitalize;
}